kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: local-pvc
spec:
  volumeName: local-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-storage