apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-end-deployment
  labels:
    app: front-end
spec:
  replicas: 2
  selector:
    matchLabels:
      app: front-end
  template:
    metadata:
      labels:
        app: front-end
    spec:
      containers:
      - name: front-end
        image: masteradios123/music-streaming-front-end-server
        envFrom:
          - configMapRef:
              name: postgres-config
        ports:
        - containerPort: 5173
